.whiteBg {
  background-color: white;
}

.bg-light{
  background-color: black !important;
}

.firstNavBarLogo{
  height: 120px;
  width: 180px;
}

/* Navigation Bar Styling */
.navBarFont {
  font-family: "Staatliches", cursive;
  font-size: 1.75rem;
  color: white !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.navBarFont:hover{
  background-color: white !important;
  color: black !important;
}

.navbar-toggler{
  background-color: black !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url(../images/togglerIconBg.png) !important;
  width: 10vh;
  height: 10vh;
}

.navBarBg {
  background-color: black;
}

.smallerNavBarItem{
  background-color: black !important;
  color: white !important;
}

.reverse-nav{
  direction: rtl;
}

.navBarItems {
  display: flex;
  justify-content: space-around;
}

/* This is for the hamburger menu! */
.navbar-toggler {
  background-color: white;
}

.navBarSpacing {
  margin-left: auto;
  margin-right: auto;
}

.NavbarMarginLeft {
  margin-left: 2.5rem;
}


/* Query for the smallest screen size a phone! */

/* This Section is for the text in the middle of the video! */

.videoGrayBg {
  background-color: #191515d0;
}

#pizzaGif {
  background-image: url(../images/PizzaLoopExperiment.gif);
  width: 100%;
  height: 100vh;
}

.videoTitleTxt {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  color: white;
}

.text-block {
  position: absolute;
  bottom: 50%;
  right: 15%;
  background-color: #191515;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.marginTop {
  margin-top: 18%;
}

/* --------------------------------------------------------------- */
/* Italian Flag Section of the website */
.greenBg {
  background-color: #0a403a;
}

.redBg {
  background-color: #b4213e;
}

.whiteThinTxt {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.5rem;
}

.ContactUsWhiteThinTxt {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.2rem;
}

.whiteTitleTxt {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: white;
}

.blackTitleTxt {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: black;
}

.blackText {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 1.5rem;
}

/* --------------------------------------------------------------- */
/* Quote Section */

.quoteTxt {
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 2.5rem;
}

.quoteByTxt {
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 2rem;
}

body {
  background-color: black;
}

/* --------- FONTS SETUP---------------- */
@font-face{
    font-family: 'Raleway';
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face{
    font-family: 'Staatliches';
    src: url("../fonts/Staatliches-Regular.ttf");
}

/* --------- LOCATIONS STYLING -------- */
.locationsHeader {
  font-family: "Staatliches", cursive;
  color: #d61a3f;
  font-size: 1.5rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* line-height: 100%; */
}

.locationsbtn {
  background-color: #d61a3f;
  border: none;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  color: #ffffff !important;
  font-size: 0.9rem;
  font-weight: bold;
  /* margin-bottom: 0px; */
}

a{
  text-decoration: none !important;
  color: #ffffff !important;
}

.greenLine {
  margin-top: 0px;
  border: 2px solid #0a403a;
  border-radius: 25px;
  margin-bottom: 0px;
  display: flex;
}

/* <<<<<<< HEAD */

.locationsTxt{
    font-family: 'Raleway', sans-serif;
    color: #ffffff !important;
    margin-top: 0px;
    font-size: 1rem;
    line-height: 30%;
}

.locationsImg {
  height: 100%;
  width: 100%;
  object-position: right;
  object-fit: cover;
}

.locationsImgCol {
  background-image: url("../images/cathal-mac-an-bheatha-CJAKsppS2co-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* ----------QUOTES STYLING---------- */
.quotesTxt {
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 2.1rem;
}

.quotesCol {
  line-height: 80%;
}

/* ----------MENU STYLING---------- */
.menuImg{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}


.menuImgCol {
    background-image: url('../images/chad-montano-MqT0asuoIcU-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-right: 3%;
}

.menuImgCol2 {
    background-image: url('../images/chad-montano-MqT0asuoIcU-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-left: 3%;
}

.typeOfFoodTitle {
    color: white;
    font-family: 'Staatliches', Regular;
    font-size: 50px;
    text-align: center;
    line-height: 1;
}

.typeOfFoodTitleXS {
    color: white;
    font-family: 'Staatliches', Regular;
    font-size: 45px;
    text-align: center;
    line-height: 1;
}

.foodDescriptionTitle {
    color: white;
    font-family: 'Staatliches', Regular;
    font-size: 30px;
    text-align: center;
    line-height: 1;
}

.foodDescriptionTitleXS {
    color: white;
    font-family: 'Staatliches', Regular;
    font-size: 24px;
    text-align: center;
    line-height: 1;
}

.typeOfFoodTxt {
    color: white;
    font-family: 'Staatliches', Regular;
    font-size: 35px;
    text-align: left;
    line-height: 1;
    margin-top: 5%;
}

.menuTxt{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin-top: 0px;
    font-size: 1rem;
    /* line-height: 30%; */
}

.menuImgColXS {
    background-image: url('../images/chad-montano-MqT0asuoIcU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    /* max-height: 40%; */
}

.menuImgXS{
    max-height: 170px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.menuImgColXS2 {
    background-image: url('../images/tim-toomey-STqHLqMne3k-unsplash.jpg');
    background-position: center;
    background-size: cover;
    /* max-height: 40%; */
    margin-top: 5%;
}

.menuImgXS2 {
    max-height: 170px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.menuBarTitle {
    color: white !important;
    font-family: 'Staatliches', Regular;
    font-size: 40px;
    text-align: center;
    /* line-height: 1; */
    text-decoration: underline;
}

.menuBarOptions {
    color: white !important;
    font-family: 'Staatliches', Regular;
    font-size: 30px;
    text-align: center;
    /* line-height: 1; */
    text-decoration: none;
    /* margin-right: 5%; */
}

.menuBarOptionsXS {
    color: white !important;
    font-family: 'Staatliches', Regular;
    font-size: 24px;
    text-align: center;
    /* line-height: 1; */
    text-decoration: none;
}

/* li:not(:last-child) {
    margin-right: 5%;
} */

.menuRightPadding {
    margin-right: 5%;
}

ul li a:hover, ul li a:focus {
    color:#D61A3F !important;
}

/* .positionFixed {
    position: fixed;
} */

.fixedBlackBg {
    background-color: black;
    padding-bottom: 1%;
}

.moveUnderMenu {
    padding-top: 10%;
}

/* --------- FOOOTER STYLING---------- */
/* <<<<<<< HEAD */
.footerHeader {
  color: #d61a3f;
  font-family: "Staatliches", cursive;
  font-size: 1.2rem;
  line-height: 1%;
}

.footerHeader{
    color: #D61A3F;
    font-family: 'Staatliches', cursive;
    font-size: 1.8rem;
    line-height: 1%;
}

.footerLine {
  border: 1px solid #0a403a;
  border-radius: 25px;
  display: flex;
}

.fab {
  color: white;
  font-size: 1.3rem;
}

.iconRow {
  flex-direction: row;
}

/* <<<<<<< HEAD */
.footerTxt {
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 0.8rem;
  line-height: 10%;
  text-decoration: none;
}

/* -------FOOOTER RESPONSIVENESS-------- */
/* ======= */
.footerTxt{
    color: #ffffff;
    font-family: 'Staatliches', cursive;
    font-size: 1.2rem;
    line-height: 10%;
}

/* ------- CATERING STYLING -------- */
.eventsHeader{
    color: #ffffff;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
}

.eventsHeader2{
    font-family: 'Staatliches', cursive;
    color: #D61A3F;
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.eventsTxt{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
}

.offeringsTxt{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    line-height: 100%;
}

.eventsImgCol{
        background-image: url("./images/pexels-cottonbro-3944307 (1).jpg");
        height: 100%;
        background-position: center;
        background-size: cover;
}

.eventsImg{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

/* ------- RESPONSIVENESS-------- */
@media screen and (max-width: 1100px){
    .footerHeader{
        font-size: 1.3rem;
    }
    .footerTxt{
        font-size: 1rem;
    }
}

/* >>>>>>> bc9ae7b68f79ed1d014c26f15420f4e9a14641ca */
/* styling for medium devices */
@media screen and (max-width: 800px) {
  .quotesCol {
    line-height: 90%;
  }

  .fab {
    font-size: 1.2rem;
  }

/* <<<<<<< HEAD */
  .iconBtn {
    padding: 5px;
    text-decoration: none;
  }
/* ======= */
    .footerTxt{
        font-size: 0.9rem;
    }
    .quotesTxt{
        font-size: 1.6rem;
    }

  .footerTxt {
    font-size: 0.85rem;
  }
  .quotesTxt {
    font-size: 1.6rem;
  }
}

/* <<<<<<< HEAD */
/* small screens */
@media screen and (max-width: 600px) {
  .locationsHeader {
    font-size: 1.2rem;
    /* line-height: 100%; */
  }

  .locationsbtn {
    font-size: 0.6rem;
  }

  .locationsTxt {
    font-size: 0.8rem;
    line-height: 5%;
  }
  .footerTxt {
    font-size: 0.6rem;
  }
  .quotesTxt {
    font-size: 1.3rem;
  }

  .footerHeader {
    margin-bottom: 12px;
  }
}
/* ======= */
/* small screens like iphone 13 */
@media screen and (max-width: 600px){
    .locationsHeader{
        font-size: 1.3rem;
        /* line-height: 100%; */
    }

    .locationsTxt{
        font-size: 0.8rem;
        line-height: 5%;
    }
    .footerTxt{
        font-size: 0.8rem;
    }

    .footerHeader{
        margin-bottom: 12px;
        font-size: 1.1rem;
    }

    .eventsHeader{
        font-size: 1.8rem;
    }

    .eventsHeader2{
    font-size: 1.3rem;
    }

    .offeringsTxt{
        font-size: 0.8rem;
    }
    .quotesTxt{
        font-size: 1.4rem;
    }
}
/* iphone x */
@media screen and (max-width: 425px){
    .locationsHeader{
        font-size: 1.1rem;
        font-size: 1rem;
    }

    .locationsbtn{
        font-size: 0.75rem;
        font-weight: normal;
    }

    .locationsRow{
        align-items: flex-end;
    }

    .locationsTxt{
        font-size: 0.7rem;
    }
    .footerTxt{
        font-size: 0.7rem;
    }

    .footerHeader{
        font-size: 1rem;
    }

    .eventsHeader{
        font-size: 1.8rem;
    }
}


/* Jesse Media Querries are below */
/* 350px, 400px, 600px, 800px, 1100px  */

@media screen and (max-width: 1100px){

  /* THe logo for the second navbar */
  .smallNavbarLogo{
    height: 120px;
    width: 180px;
  }

  #pizzaGif {
    background-image: url(../images/PizzaLoopExperiment.gif);
    width: 100%;
    height: 100vh;
    /* background-position: left; */
  }

  .marginTop {
    margin-top: 25%;
  }

  .navbar-light .navbar-toggler-icon{
    background-image: url(../images/togglerIconBg.png) !important;
    width: 8vh;
    height: 8vh;
  }

  .smallNavBarFont {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 43px;
  }
  
  .videoTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    color: white;
    opacity: 100% !important;
  }

  /* .whiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.75rem;
  } */
  
  .ContactUsWhiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.3rem;
  }
  
  .whiteTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white;
  }
  
  .blackTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: black;
  }
  
  .blackText {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 1.5rem;
  }

}


@media screen and (max-width: 800px){
  /* The size of the pizza logo should change, text size should change  */
  .smallNavbarLogo{
    height: 100px;
    width: 140px;
  }

  #pizzaGif {
    background-image: url(../images/PizzaLoopExperiment.gif);
    width: 100%;
    height: 100vh;
    background-position: left;
  }

  .marginTop {
    margin-top: 30%;
  }

  .navbar-light .navbar-toggler-icon{
    background-image: url(../images/togglerIconBg.png) !important;
    width: 8vh;
    height: 8vh;
  }

  /* Navbar text */
  .smallNavBarFont {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white !important;
    margin-left: 43px;
  }
  
  .videoTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    color: white;
    opacity: 100% !important;
  }

  .whiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.5rem;
  }
  
  .ContactUsWhiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.5rem;
  }
  
  .whiteTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white;
  }
  
  .blackTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: black;
  }
  
  .blackText {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 1.75rem;
  }

}



@media screen and (max-width: 600px){
  /* The size of the pizza logo should change, text size should change  */
  .smallNavbarLogo{
    height: 100px;
    width: 140px;
  }

  #pizzaGif {
    background-image: url(../images/PizzaLoopExperiment.gif);
    width: 100%;
    height: 80vh;
    background-position: left;
  }

  .marginTop {
    margin-top: 30%;
  }

  .navbar-light .navbar-toggler-icon{
    background-image: url(../images/togglerIconBg.png) !important;
    width: 7vh;
    height: 7vh;
  }

  /* Navbar text */
  .smallNavBarFont {
    font-family: "Staatliches", cursive;
    font-size: 1.5rem;
    color: white !important;
    margin-left: 43px;
  }
  
  .videoTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2.5rem;
    color: white;
    opacity: 100% !important;
  }

  .whiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.5rem;
  }
  
  .ContactUsWhiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.25rem;
  }
  
  .whiteTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white;
  }
  
  .blackTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: black;
  }
  
  .blackText {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 1.5rem;
  }

}



@media screen and (max-width: 400px){
  /* The size of the pizza logo should change, text size should change  */
  .smallNavbarLogo{
    height: 75px;
    width: 100px;
  }

  #pizzaGif {
    background-image: url(../images/PizzaLoopExperiment.gif);
    width: 100%;
    height: 75vh;
    background-position: left;
  }

  .marginTop {
    margin-top: 30%;
  }

  .navbar-light .navbar-toggler-icon{
    background-image: url(../images/togglerIconBg.png) !important;
    width: 5vh;
    height: 5vh;
  }

  /* Navbar text */
  .smallNavBarFont {
    font-family: "Staatliches", cursive;
    font-size: 1.25rem;
    color: white !important;
    margin-left: 40px;
  }
  
  .videoTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2.5rem;
    color: white;
    opacity: 100% !important;
  }

  .whiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.25rem;
  }
  
  .ContactUsWhiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.25rem;
  }
  
  .whiteTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white;
  }
  
  .blackTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: black;
  }
  
  .blackText {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 1.5rem;
  }

}


@media screen and (max-width: 350px){
  /* The size of the pizza logo should change, text size should change  */
  .smallNavbarLogo{
    height: 50px;
    width: 80px;
  }

  #pizzaGif {
    background-image: url(../images/PizzaLoopExperiment.gif);
    width: 100%;
    height: 70vh;
    background-position: bottom;
  }

  .navbar-light .navbar-toggler-icon{
    background-image: url(../images/togglerIconBg.png) !important;
    width: 5vh;
    height: 5vh;
  }


  .smallNavBarFont{
    font-family: "Staatliches", cursive;
    font-size: 1.1rem;
    color: white !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 42px;
  }
  

  .videoTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    color: white;
    opacity: 100% !important;
  }

  .whiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.1rem;
  }
  
  .ContactUsWhiteThinTxt {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.1rem;
  }
  
  .whiteTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 1.5rem;
    color: white;
  }
  
  .blackTitleTxt {
    font-family: "Staatliches", cursive;
    font-size: 1.5rem;
    color: black;
  }
  
  .blackText {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 1.1rem;
  }


/* Jesse's media querries^ */

    .eventsTxt{
        font-size: 0.8rem;
    }

    .quotesTxt{
        font-size: 1.3rem;
    }
}

/* smol phones */
@media screen and (max-width: 350px){
    .locationsHeader{
        font-size: 0.84rem;
    }

    .locationsbtn{
        font-size: 0.58rem;
        font-weight: normal;
    }
    
    .locationsRow{
        align-items: flex-end;
    }
    .locationsTxt{
        font-size: 0.6rem;
        line-height: 5%;
    }
    .footerTxt{
        font-size: 0.7rem;
        line-height: 80%;
    }

    .eventsHeader{
        font-size: 1.6rem;
    }

    .eventsHeader2{
        font-size: 1.1rem;
        }

    .eventsTxt{
        font-size: 0.75rem;
    }

    .offeringsTxt{
        font-size: 0.75rem;
    }

    .quotesTxt{
        font-size: 1.2rem;
    }
}