.whiteBg {
  background-color: white;
}

.bg-light{
  background-color: black !important;
}

/* Navigation Bar Styling */
.navBarFont {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: white !important;
}
.navbar-toggler{
  background-color: black !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url(../images/togglerIconBg.png) !important;
  width: 10vh;
  height: 10vh;
}

.navBarBg {
  background-color: black;
}

.smallerNavBarItem{
  background-color: black !important;
  color: white !important;
}

.largeNavBar:hover{
  background: white !important;
  color: black !important;
}

.nav-item:hover{
  background: white !important;
  color: black !important;
}

/* This class applies the hover styling to both navigation bars! */
/* .nav-item:hover, .nav-link:hover {
  background: white !important;
  color: black !important;
} */

/* .nav-link:hover{
  background: white !important;
  color: black !important;
} */

.reverse-nav{
  direction: rtl;
}

.navBarItems {
  display: flex;
  justify-content: space-around;
}

/* This is for the hamburger menu! */
.navbar-toggler {
  background-color: white;
}

.navBarSpacing {
  margin-left: auto;
  margin-right: auto;
}

.NavbarMarginLeft {
  margin-left: 2.5rem;
}

/* This Section is for the text in the middle of the video! */

.videoGrayBg {
  background-color: #191515;
  opacity: 80%;
}

#pizzaGif {
  background-image: url(../images/PizzaLoopExperiment.gif);
  width: 100%;
  height: 100vh;
}

.videoTitleTxt {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  color: white;
  opacity: 100% !important;
}

.text-block {
  position: absolute;
  bottom: 50%;
  right: 15%;
  background-color: #191515;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.marginTop {
  margin-top: 18%;
}

/* --------------------------------------------------------------- */
/* Italian Flag Section of the website */
.greenBg {
  background-color: #0a403a;
}

.redBg {
  background-color: #b4213e;
}

.whiteThinTxt {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.5rem;
}

.ContactUsWhiteThinTxt {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1.25rem;
}

.whiteTitleTxt {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  color: white;
}

.blackTitleTxt {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  color: black;
}

.blackText {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 1.5rem;
}

/* --------------------------------------------------------------- */
/* Quote Section */

.quoteTxt {
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 2.5rem;
}

.quoteByTxt {
  font-family: "Staatliches", cursive;
  color: white;
  font-size: 2rem;
}

body {
  background-color: black;
}

/* --------- LOCATIONS STYLING -------- */
.locationsHeader {
  font-family: "Staatliches", cursive;
  color: #d61a3f;
  font-size: 1.5rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* line-height: 100%; */
}

.locationsbtn {
  background-color: #d61a3f;
  border: none;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  /* margin-bottom: 0px; */
}

.greenLine {
  margin-top: 0px;
  border: 2px solid #0a403a;
  border-radius: 25px;
  margin-bottom: 0px;
  display: flex;
}

.locationsTxt {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin-top: 0px;
  font-size: 1rem;
  line-height: 30%;
}

.locationsImg {
  height: 100%;
  width: 100%;
  object-position: right;
  object-fit: cover;
}

.locationsImgCol {
  background-image: url("../images/cathal-mac-an-bheatha-CJAKsppS2co-unsplash.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* ----------QUOTES STYLING---------- */
.quotesTxt {
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 2.1rem;
}

.quotesCol {
  line-height: 80%;
}

/* --------- FOOOTER STYLING---------- */
.footerHeader {
  color: #d61a3f;
  font-family: "Staatliches", cursive;
  font-size: 1.2rem;
  line-height: 1%;
}

.footerLine {
  border: 1px solid #0a403a;
  border-radius: 25px;
  display: flex;
}

.fab {
  color: white;
  font-size: 1.3rem;
}

.iconRow {
  flex-direction: row;
}

.footerTxt {
  color: #ffffff;
  font-family: "Staatliches", cursive;
  font-size: 0.8rem;
  line-height: 10%;
}

/* -------FOOOTER RESPONSIVENESS-------- */
/* styling for medium devices */
@media screen and (max-width: 800px) {
  .quotesCol {
    line-height: 90%;
  }

  .fab {
    font-size: 1.2rem;
  }

  .iconBtn {
    padding: 5px;
    text-decoration: none;
  }

  .footerTxt {
    font-size: 0.7rem;
  }
  .quotesTxt {
    font-size: 1.6rem;
  }
}

/* small screens */
@media screen and (max-width: 600px) {
  .locationsHeader {
    font-size: 1.2rem;
    /* line-height: 100%; */
  }

  .locationsbtn {
    font-size: 0.6rem;
  }

  .locationsTxt {
    font-size: 0.8rem;
    line-height: 5%;
  }
  .footerTxt {
    font-size: 0.6rem;
  }
  .quotesTxt {
    font-size: 1.3rem;
  }

  .footerHeader {
    margin-bottom: 12px;
  }
}
